:root {
    --vertical-space: 0.5rem;
    --horizontal-space: 2rem;

    --primary-color: 97, 219, 184;
    --on-primary-color: 0, 0, 0;

    --secondary-color: 129, 162, 190;
    --on-secondary-color: 0, 0, 0;

    --tertiary-color: 168, 203, 226;
    --on-tertiary-color: 13, 52, 70;

    --background-color: 34, 34, 34;
    --on-background-color: 255, 255, 255;

    --surface-color: 18, 18, 18;
    --on-surface-color: 255, 255, 255;
}


body {
    font-size: 18px;
    line-height: 1.5;
    background-color: rgba(var(--background-color));
    color: rgba(var(--on-background-color), 0.67);
    margin-top: 1.1rem;
    margin-left: var(--horizontal-space);
    margin-right: var(--horizontal-space);
    margin-bottom: var(--vertical-space);
}

h1,
h2,
h3 {
    line-height: 1.2;
    color: rgba(var(--primary-color), 0.6);
}

a {
    color: rgba(var(--primary-color), 0.6);
}

a:hover {
    color: rgba(var(--primary-color), 1);
    background-color: rgba(var(--on-background-color), 0.1);
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas:
        "head head"
        "nav nav"
        "main main"
        "foot foot";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        display: grid;
        grid-template-areas:
            "head"
            "main"
            "foot";
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
    }
}

body>* {
    margin: var(--vertical-space) 0;
}

body>header {
    display: grid;
    grid-area: head;
    background-color: rgba(var(--on-background-color), 0.08);
    grid-template-areas: "h1 nav";
    grid-template-columns: auto 1fr;
    padding: 0;

    * {
        display: flex;
    }

    >h1 {
        grid-area: h1;
        padding: 0.5rem 1rem;
    }

    >nav {
        grid-area: nav;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }

        a {
            height: 100%;
            padding: 0 1rem;
            align-items: center;
            font-size: 1.2em;
            text-decoration-color: rgba(0, 0, 0, 0);
        }
    }

    >h1,
    >nav li {
        border-right: 2px solid rgba(var(--on-background-color), 0.2);
    }
}

body>main {
    grid-area: main;
    background-color: rgba(var(--on-background-color), 0.08);
    padding: 1rem;
}

h1 {
    margin: 0;
}

p {
    margin-bottom: 0;
}

body>footer {
    grid-area: foot;
}

footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header>h1,
footer>h1 {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}
